
.SearchContainer{
    
   display: flex;
    align-items: center;
    justify-content: center;
    padding: 32px;
}


.wrapperSearchContainer{
    display: flex;
    align-items: center;
    padding:0px 32px ;
    background-color: white;
    color: rgb(82, 82, 82);
    border-radius: 32px;
    gap: 16px;
}

